@import '../../../index.scss';

.items {
    color: white;

    &__list {
        display: flex;
        list-style: none;
        flex-wrap: wrap;
        justify-content: space-between;
    }
    &__nav {
        display: flex;
        justify-content: center;
    }
}

.item {
    width: 220px;
    max-height: 310px;
    margin-bottom: 20px;

    &.disabled &__card {
        background-color: green!important;
    }
    &__card {
        transition: all ease .1s;
    }
    &__hover {
        position: relative;
        top: -365px;
        width: 100%;
        font-size: 190px;
    }
    &__image {
        object-fit: cover;
        height: 230px;
        border: 7px solid rgba(255, 255, 255, .3);
        opacity: 0;
        transition: opacity 0.2s ease-in;
        &.loaded {
            opacity: 1;
        }
    }
    &__description {
        font-size: 11px;
    }
    &__hover {
        display: none;
    }
    &:not(.disabled):hover {
        cursor: pointer;
        .item__card {
            opacity: .5;
        }
        .item__hover {
            display: block;
        }
    }
}